<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240972435980-mqit9qlt42al3dvje8bpc60acqoscag7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240972435980-mqit9qlt42al3dvje8bpc60acqoscag7</string>
	<key>API_KEY</key>
	<string>AIzaSyCcVVMA-QkHb6UBEAvDKTYpso-SBuCmo7U</string>
	<key>GCM_SENDER_ID</key>
	<string>240972435980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaApp</string>
	<key>PROJECT_ID</key>
	<string>instagram-21a76</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-21a76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240972435980:ios:5da23c84584c7bc5499429</string>
</dict>
</plist>